In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv("personnes.csv")
data.head()

,prenom,email,date_naissance,pays,taille
0,Leila,leila@example.com,23/01/1990,France,1.49m
1,Samuel,samuel_329@example.com,20/09/2001,NaN,1.67m
2,Radia,choupipoune@supermail.eu,12 sept. 1984,Côte d'ivoire,153cm
3,Marc,"marco23@example.com, mc23@supermail.eu",10/02/1978,France,1.65m
4,Heri,helloworld@supermail.eu,05/03/2008,Madagascar,1.34m

In [3]:

""" def lower_case(value): 
    print('Voici la valeur que je traite:', value)
    return value.lower()

data = pd.DataFrame([['A',1],
                     ['B',2],
                     ['C',3]], columns = ['lettre','position'])

nouvelle_colonne = data['lettre'].apply(lower_case)
nouvelle_colonne = nouvelle_colonne.values
print(nouvelle_colonne)
data['lettre'] = nouvelle_colonne
print(data) """

" def lower_case(value): \n    print('Voici la valeur que je traite:', value)\n    return value.lower()\n\ndata = pd.DataFrame([['A',1],\n                     ['B',2],\n                     ['C',3]], columns = ['lettre','position'])\n\nnouvelle_colonne = data['lettre'].apply(lower_case)\nnouvelle_colonne = nouvelle_colonne.values\nprint(nouvelle_colonne)\ndata['lettre'] = nouvelle_colonne\nprint(data) "

In [4]:
VALID_COUNTRIES = ['France', 'Côte d\'ivoire', 'Madagascar', 'Bénin', 'Allemagne', 'USA']
                  
def check_country(country):
    if country not in VALID_COUNTRIES:
        print(' - "{}" n\'est pas un pays valide, nous le supprimons.' \
            .format(country))
        return np.NaN
    return country

In [5]:
def first(string):
    parts = string.split(',')
    first_part = parts[0]
    if len(parts) >= 2:
        print(' - Il y a plusieurs parties dans "{}", ne gardons que {}.'\
            .format(parts,first_part))  
    return first_part

In [6]:
def convert_height(height):
    found = re.search('\d\.\d{2}m', height)
    if found is None:
        print('{} n\'est pas au bon format. Il sera ignoré.'.format(height))
        return np.NaN
    else:
        value = height[:-1] # on enlève le dernier caractère, qui est 'm'
        return float(value)

def fill_height(height, replacement):
    if pd.isnull(height):
        print('Imputation par la moyenne : {}'.format(replacement))
        return replacement
    return height

In [7]:
data['email'] = data['email'].apply(first)
data['pays'] = data['pays'].apply(check_country)
data['taille'] = [convert_height(t) for t in data['taille']]
data['taille'] = [t if t<3 else np.NaN for t in data['taille']]
mean_height = data['taille'].mean()
data['taille'] = [fill_height(t, mean_height) for t in data['taille']]
data['date_naissance'] = pd.to_datetime(data['date_naissance'], 
                                           format='%d/%m/%Y', errors='coerce')
print(data)

 - Il y a plusieurs parties dans "['marco23@example.com', ' mc23@supermail.eu']", ne gardons que marco23@example.com.
 - "nan" n'est pas un pays valide, nous le supprimons.
 - "24" n'est pas un pays valide, nous le supprimons.
153cm n'est pas au bon format. Il sera ignoré.
Imputation par la moyenne : 1.52
Imputation par la moyenne : 1.52
   prenom                     email date_naissance           pays  taille
0   Leila         leila@example.com     1990-01-23         France    1.49
1  Samuel    samuel_329@example.com     2001-09-20            NaN    1.67
2   Radia  choupipoune@supermail.eu            NaT  Côte d'ivoire    1.52
3    Marc       marco23@example.com     1978-02-10         France    1.65
4    Heri   helloworld@supermail.eu     2008-03-05     Madagascar    1.34
5   Hanna    hanna2019@supermail.eu     1970-01-01            NaN    1.52
6  samuël    samuel_329@example.com            NaT          Bénin    1.45

In [8]:
data = pd.read_csv('personnes.csv')

nouvelle_colonne = []
for t in data['taille']:
    nouvelle_colonne.append(convert_height(t))
data['taille'] = nouvelle_colonne

153cm n'est pas au bon format. Il sera ignoré.

In [9]:
data = pd.read_csv('personnes.csv')

data['taille'] = data['taille'].apply(convert_height)

153cm n'est pas au bon format. Il sera ignoré.

In [10]:
def convert_height(height):
    found = re.search('\d\.\d{2}m', height)
    if found is None:
        print('{} n\'est pas au bon format. Il sera ignoré.'.format(height))
        return np.NaN
    else:
        value = height[:-1] # on enlève le dernier caractère, qui est 'm'
        return float(value)