In [2]:
import pandas as pd 

#df1 = pd.read_csv(r'EdStatsCountry-Series.csv')
df2 = pd.read_csv(r'EdStatsCountry.csv')
#df3 = pd.read_csv(r'EdStatsData.csv')
#df4 = pd.read_csv(r'EdStatsFootNote.csv')
#df5 = pd.read_csv(r'EdStatsSeries')

df2.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [3]:
df2.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data',
       'Latest water withdrawal data', 'Unnamed: 31'],
      dtype='object')

In [4]:
columns = ["Country Code", "Short Name", "Region", "Currency Unit", "SNA price valuation", "Latest population census", "Income Group", "Source of most recent Income and expenditure data"]
df_country = df2[columns]

In [5]:
print(df_country.shape)
print(df_country.

(241, 8)
    Country Code    Short Name                      Region  \
0            ABW         Aruba   Latin America & Caribbean
1            AFG   Afghanistan                  South Asia
2            AGO        Angola          Sub-Saharan Africa
3            ALB       Albania       Europe & Central Asia
4            AND       Andorra       Europe & Central Asia
..           ...           ...                         ...
236          XKX        Kosovo       Europe & Central Asia
237          YEM         Yemen  Middle East & North Africa
238          ZAF  South Africa          Sub-Saharan Africa
239          ZMB        Zambia          Sub-Saharan Africa
240          ZWE      Zimbabwe          Sub-Saharan Africa

          Currency Unit                   SNA price valuation  \
0         Aruban florin     Value added at basic prices (VAB)
1        Afghan afghani     Value added at basic prices (VAB)
2        Angolan kwanza  Value added at producer prices (VAP)
3          Albanian lek     Value added at basic prices (VAB)
4                  Euro                                   NaN
..                  ...                                   ...
236                Euro     Value added at basic prices (VAB)
237         Yemeni rial  Value added at producer prices (VAP)
238  South African rand     Value added at basic prices (VAB)
239  New Zambian kwacha     Value added at basic prices (VAB)
240         U.S. dollar     Value added at basic prices (VAB)

                              Latest population census          Income Group  \
0                                                 2010  High income: nonOECD
1                                                 1979            Low income
2                                                 1970   Upper middle income
3                                                 2011   Upper middle income
4    2011. Population figures compiled from adminis...  High income: nonOECD
..                                                 ...                   ...
236                                               2011   Lower middle income
237                                               2004   Lower middle income
238                                               2011   Upper middle income
239                                               2010   Lower middle income
240                                               2012            Low income

     Source of most recent Income and expenditure data
0                                                  NaN
1              Integrated household survey (IHS), 2008
2              Integrated household survey (IHS), 2008
3    Living Standards Measurement Study Survey (LSM...
4                                                  NaN
..                                                 ...
236            Integrated household survey (IHS), 2011
237     Expenditure survey/budget survey (ES/BS), 2005
238     Expenditure survey/budget survey (ES/BS), 2010
239            Integrated household survey (IHS), 2010
240         Integrated household survey (IHS), 2011/12

[241 rows x 8 columns]